# Supabase
VITE_SUPABASE_URL=https://kkduvdgxnyfaouyqnopu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrZHV2ZGd4bnlmYW91eXFub3B1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMDY4ODksImV4cCI6MjA5Nzc4Mjg4OX0.fOsH76gEJsWA3P54Gr-jWZryJ5ghW_Sz2YLGUT5FATI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrZHV2ZGd4bnlmYW91eXFub3B1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjIwNjg4OSwiZXhwIjoyMDk3NzgyODg5fQ.6xjX5ZMxHbtsKBBb4UCSjdeZ12QSF6G_bxct17mDrOo

# App
VITE_APP_NAME=Stacked Stone
VITE_APP_URL=http://localhost:3000
